---
import { Image } from "astro:assets";
import Mainlayout from "../../layouts/Mainlayout.astro";
import { apiDetails } from "../../settings";

export async function getStaticPaths() {
  const data = await fetch(
    `${apiDetails.supabaseUrl}/market?select=*,artist_market(artist(*))`,
    {
      method: "GET",
      headers: {
        apikey: apiDetails.supabaseAnonKey,
      },
    }
  ).then((response) => response.json());

  // Laver liste med billeder i imageFolder mappen. Se astro doc: https://docs.astro.build/en/recipes/dynamically-importing-images/
  const imageFolder = "/src/assets/img/artists";
  const images = import.meta.glob<{ default: ImageMetadata }>(
    "/src/assets/img/artists/**/*.{jpeg,jpg,png,gif,webp}"
  );

  return data.map((market) => {
    market.artist_market = market.artist_market.map((participant) => {
      const imgPath = participant.artist.images?.[0];

      console.log(imgPath);

      // Check if the images are in our folders, and throw an error if its not.
      if (!images[`${imageFolder}/${imgPath}`]) {
        throw new Error(
          `"${imgPath}" ser ud til at mangle i mappen ${imageFolder}`
        );
      }

      return {
        ...participant.artist,
        firstImage: images[`${imageFolder}/${imgPath}`](),
      };
    });

    return {
      params: { slug: market.slug },
      props: {
        market,
        participants: market.artist_market,
      },
    };
  });
}

interface Props {
  market: any;
  participants: any[];
}

const { market, participants } = Astro.props;
---

<Mainlayout>
  <main>
    <section id="breadcrumb">
      <a href="javascript:history.back()">
        <svg id="arrow" data-name="Layer 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 43.01 29.46">
          <defs>
            <style>
              .fill_out {
                fill: var(--text-color);
                stroke-width: 0px;
              }
            </style>
          </defs>
          <g id="Layer_1-2" data-name="Layer 1">
            <path class="fill_out" d="M.59,13.31c-.78.78-.78,2.05,0,2.83l12.73,12.73c.78.78,2.05.78,2.83,0,.78-.78.78-2.05,0-2.83L4.83,14.73,16.14,3.41c.78-.78.78-2.05,0-2.83-.78-.78-2.05-.78-2.83,0L.59,13.31ZM43.01,12.73H2v4h41.01v-4Z"/>
          </g>
        </svg></a
      >
      <nav>
        <ul>
          <li><a href="../../meet-the-artists">Mød udstillerne</a></li>
          <li>{market.name}</li>
        </ul>
      </nav>
    </section>
    <h2>Udstillerne på {market.name}</h2>
    <!-- Sådan her laves cards ud fra hver udstiller - laves ud fra alle deltagere i databasen -->
    <div class="artist_container">
      {
        participants.map((participant) => (
          <a class="artist_card" href={`../kunstner/${participant.slug}`}>
            <Image src={participant.firstImage} alt={participant.name} />
            <h5 class="artist_name">{participant.name}</h5>
          </a>
        ))
      }
    </div>
  </main>
</Mainlayout>

<style>
  #arrow {
    max-width: 30px;
  }

  h2 {
    font-weight: bold;
    font-size: 1.9rem;
    margin-top: 30px;
  }

  h6 {
    display: none;
  }

  #breadcrumb nav {
    display: block;
  }

  #breadcrumb {
    display: grid;
    grid-template-columns: 1fr 8fr;
  }

  #breadcrumb nav {
    text-align: right;
  }

  /* creating the breadcrumb foundation */
  #breadcrumb ul {
    list-style: none;
    font-weight: bold;
  } /* remove bullet points */
  #breadcrumb ul li {
    display: inline;
    font-size: 0.7rem;
  } /* show list items horizontally */

  /* Put an angle bracket (>) between list items */
  #breadcrumb ul li + li:before {
    content: ">";
    padding: 10px;
    font-size: 0.7rem;
  }

  #breadcrumb ul li a {
    text-decoration: none;
    font-size: 0.7rem;
  } /* remove underlines from links */
  #breadcrumb ul li a:hover {
    text-decoration: underline;
  } /* show underline on mouseover */

  /* ---- Produktliste grid ------ */
  .artist_container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 150px));
    gap: 5px;
    justify-content: center;
    margin-top: 40px;

    & img {
      object-fit: cover;
    }
  }
  .artist_container img {
    height: 150px;
  }

  /* Rectangle 12 */
  .artist_name {
    /* position: absolute; */
    padding: 4px;
    padding-top: 0;
    width: auto;
    height: 30px;
    left: 40.7px;
    top: 397px;
    background: #e7b7b8;
    color: #fef5ea;
    transform: translateY(-50%);
  }

  @media (min-width: 769px) {
    h6 {
      display: block;
    }

    /* breadcrumb */
    #breadcrumb nav {
      display: block;
      text-align: right;
    }

    #breadcrumb {
      display: grid;
      grid-template-columns: 3fr 3fr;
    }

    #breadcrumb ul li {
      font-size: 1rem;
    }
    #breadcrumb ul li a {
      font-size: 1rem;
    }

    /* vis liste-elementerne horisontalt */
    ul li {
      display: inline;
      font-size: 1rem;
    }

    /* Sæt en (>) mellem liste-elementerne */
    #breadcrumb ul li + li:before {
      content: ">";
      padding: 10px;
      font-size: 1rem;
    }

    ul li a {
      text-decoration: none;
    }
    ul li a:hover {
      text-decoration: underline;
    }

    /* additional styling */
    ul {
      list-style: none;
      color: var(--text-color);
      font-family: "Avenir";
      font-weight: bold;
    }

    ul li a {
      color: var(--text-color);
    }
    ul li a:visited {
      color: var(--text-color);
    }
    ul li + li:before {
      color: var(--text-color);
    }

    h2 {
      font-size: 2.5rem;
    }

    .artist_container {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(220px, 220px));
      gap: 25px;
    }

    .artist_container a {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
    }
    .artist_container img {
      height: 225px;
    }

    .artist_name{
      opacity: 0;
    }

    .artist_card:hover .artist_name{
      opacity: 1;
    }

  }
</style>

<style is:global>
  @media (min-width: 769px) {
    #breadcrumb ul a {
      font-size: 1rem;
    }
  }
</style>
