---
import { Image } from "astro:assets";
import Mainlayout from "../../layouts/Mainlayout.astro";
import { apiDetails } from "../../settings";

export async function getStaticPaths() {
  const data = await fetch(
    `${apiDetails.supabaseUrl}/market?select=*,artist_market(artist(*))`,
    {
      method: "GET",
      headers: {
        apikey: apiDetails.supabaseAnonKey,
      },
    }
  ).then((response) => response.json());

  // Laver liste med billeder i imageFolder mappen. Se astro doc: https://docs.astro.build/en/recipes/dynamically-importing-images/
  const imageFolder = "/src/assets/img/artists";
  const images = import.meta.glob<{ default: ImageMetadata }>(
    "/src/assets/img/artists/**/*.{jpeg,jpg,png,gif,webp}"
  );

  return data.map((market) => {
    market.artist_market = market.artist_market.map((participant) => {
      const imgPath = participant.artist.images?.[0];

      console.log(imgPath);

      // Check if the images are in our folders, and throw an error if its not.
      if (!images[`${imageFolder}/${imgPath}`]) {
        throw new Error(
          `"${imgPath}" ser ud til at mangle i mappen ${imageFolder}`
        );
      }

      return {
        ...participant.artist,
        firstImage: images[`${imageFolder}/${imgPath}`](),
      };
    });

    return {
      params: { slug: market.slug },
      props: {
        market,
        participants: market.artist_market,
      },
    };
  });
}

interface Props {
  market: any;
  participants: any[];
}

const { market, participants } = Astro.props;
---

<Mainlayout title={market.name}>
  <main>
    <section id="breadcrumb">
      <a href="javascript:history.back()">
        <svg
          id="arrow"
          data-name="Layer 2"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 43.01 29.46"
        >
          <defs>
            <style>
              .fill_out {
                fill: var(--text-color);
                stroke-width: 0px;
              }
            </style>
          </defs>
          <g id="Layer_1-2" data-name="Layer 1">
            <path
              class="fill_out"
              d="M.59,13.31c-.78.78-.78,2.05,0,2.83l12.73,12.73c.78.78,2.05.78,2.83,0,.78-.78.78-2.05,0-2.83L4.83,14.73,16.14,3.41c.78-.78.78-2.05,0-2.83-.78-.78-2.05-.78-2.83,0L.59,13.31ZM43.01,12.73H2v4h41.01v-4Z"
            ></path>
          </g>
        </svg></a
      >
      <nav>
        <ul>
          <li><a href="../../meet-the-artists">Mød udstillerne</a></li>
          <li>{market.name}</li>
        </ul>
      </nav>
    </section>
    <h2>Udstillerne på {market.name}</h2>
    <div id="filter">
      <svg
        id="filter_knap"
        data-name="Layer 2"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 209.63 50"
      >
        <defs>
          <style>
            .fill_out_filter {
              fill: var(--text-color);
              stroke-width: 0px;
            }

            .border_fill {
              fill: var(--primary-color);
            }

            .border_fill,
            .arrow_fill {
              stroke: var(--text-color);
            }

            .arrow_fill {
              fill: none;
              stroke-width: 3px;
            }
          </style>
        </defs>
        <g id="Layer_1-2" data-name="Layer 1">
          <rect class="border_fill" x=".5" y=".5" width="208.63" height="49"
          ></rect>
          <path class="arrow_fill" d="M160.62,21.05l13.84,11.84,13.39-11.84"
          ></path>
          <path
            class="fill_out_filter"
            d="M22.07,34.21v-11.88h2.25v11.88h-2.25ZM30.09,34.21v-7.17c0-.88-.27-1.58-.83-2.08-.53-.52-1.21-.77-2.02-.77-.55,0-1.04.12-1.48.35-.43.23-.78.56-1.05.98-.27.42-.4.92-.4,1.5l-.93-.45c0-.9.19-1.68.58-2.35.4-.67.94-1.18,1.62-1.55.68-.38,1.45-.58,2.3-.58s1.58.18,2.25.55c.68.37,1.22.88,1.6,1.55.4.67.6,1.46.6,2.38v7.65h-2.25ZM38.12,34.21v-7.17c0-.88-.28-1.58-.83-2.08-.53-.52-1.2-.77-2-.77-.55,0-1.05.12-1.5.35-.43.23-.78.56-1.05.98-.27.42-.4.92-.4,1.5l-1.27-.45c.05-.92.29-1.7.73-2.35.45-.67,1.02-1.18,1.73-1.55.7-.38,1.47-.58,2.3-.58s1.64.18,2.33.55c.68.37,1.22.88,1.62,1.55.42.67.62,1.47.62,2.4v7.62h-2.28ZM48.51,34.46c-1.08,0-2.07-.27-2.95-.8-.88-.55-1.58-1.29-2.1-2.23-.5-.93-.75-1.98-.75-3.15s.25-2.22.75-3.15c.52-.93,1.21-1.68,2.08-2.23.88-.55,1.88-.83,2.97-.83.9,0,1.7.19,2.4.58.72.37,1.29.88,1.72,1.55.43.65.67,1.41.73,2.28v3.57c-.05.85-.29,1.61-.73,2.27-.42.67-.98,1.19-1.7,1.58-.7.37-1.51.55-2.42.55ZM48.88,32.34c1.12,0,2.02-.38,2.7-1.12.68-.77,1.03-1.74,1.03-2.92,0-.82-.16-1.52-.48-2.12-.3-.62-.73-1.09-1.3-1.42-.57-.35-1.22-.53-1.97-.53s-1.42.18-2,.53c-.57.35-1.02.83-1.35,1.45-.32.6-.47,1.29-.47,2.08s.16,1.51.47,2.12c.33.6.79,1.07,1.38,1.42.58.35,1.25.52,2,.52ZM52.46,34.21v-3.2l.42-2.9-.42-2.88v-2.9h2.28v11.88h-2.28ZM59.78,34.21v-16.85h2.25v16.85h-2.25ZM56.86,24.39v-2.05h8.1v2.05h-8.1ZM72.29,34.46c-1.18,0-2.25-.27-3.2-.8-.95-.55-1.7-1.29-2.25-2.23-.55-.93-.83-1.99-.83-3.17s.27-2.22.8-3.15c.55-.93,1.28-1.67,2.2-2.2.93-.55,1.98-.83,3.12-.83s2.07.25,2.9.75c.85.5,1.51,1.19,1.97,2.08.48.88.73,1.88.73,3,0,.17,0,.35-.03.55-.02.18-.05.4-.1.65h-10.03v-1.88h8.82l-.82.72c0-.8-.14-1.47-.43-2.02-.28-.57-.68-1-1.2-1.3-.52-.32-1.14-.48-1.88-.48s-1.44.17-2.03.5c-.58.33-1.03.8-1.35,1.4-.32.6-.47,1.31-.47,2.12s.17,1.57.5,2.2c.33.62.81,1.1,1.42,1.45.62.33,1.33.5,2.12.5.67,0,1.28-.12,1.83-.35.57-.23,1.05-.58,1.45-1.05l1.45,1.48c-.57.67-1.27,1.17-2.1,1.53-.82.35-1.69.52-2.62.52ZM80.2,34.21v-11.88h2.25v11.88h-2.25ZM82.45,27.44l-.85-.38c0-1.52.35-2.73,1.05-3.62s1.71-1.35,3.03-1.35c.6,0,1.14.11,1.62.33.48.2.93.54,1.35,1.02l-1.47,1.52c-.25-.27-.53-.46-.83-.57-.3-.12-.65-.18-1.05-.18-.83,0-1.52.27-2.05.8-.53.53-.8,1.34-.8,2.42ZM90.26,34.21v-11.88h2.25v11.88h-2.25ZM91.38,19.96c-.42,0-.76-.13-1.03-.4-.27-.28-.4-.63-.4-1.05s.13-.73.4-1c.27-.28.61-.43,1.03-.43s.76.14,1.03.43c.27.27.4.6.4,1s-.13.77-.4,1.05c-.27.27-.61.4-1.03.4ZM100.87,34.46c-1.08,0-2.07-.27-2.95-.8-.88-.55-1.58-1.29-2.1-2.23-.5-.93-.75-1.98-.75-3.15s.25-2.22.75-3.15c.52-.93,1.21-1.68,2.07-2.23.88-.55,1.88-.83,2.97-.83.9,0,1.7.19,2.4.58.72.37,1.29.88,1.72,1.55.43.65.67,1.41.72,2.28v3.57c-.05.85-.29,1.61-.72,2.27-.42.67-.98,1.19-1.7,1.58-.7.37-1.51.55-2.42.55ZM101.25,32.34c1.12,0,2.02-.38,2.7-1.12.68-.77,1.03-1.74,1.03-2.92,0-.82-.16-1.52-.47-2.12-.3-.62-.73-1.09-1.3-1.42-.57-.35-1.22-.53-1.97-.53s-1.42.18-2,.53c-.57.35-1.02.83-1.35,1.45-.32.6-.47,1.29-.47,2.08s.16,1.51.47,2.12c.33.6.79,1.07,1.38,1.42.58.35,1.25.52,2,.52ZM104.82,34.21v-3.2l.43-2.9-.43-2.88v-2.9h2.28v11.88h-2.28ZM110.37,34.21v-17.85h2.25v17.85h-2.25ZM121.42,34.46c-1.18,0-2.25-.27-3.2-.8-.95-.55-1.7-1.29-2.25-2.23-.55-.93-.83-1.99-.83-3.17s.27-2.22.8-3.15c.55-.93,1.28-1.67,2.2-2.2.93-.55,1.97-.83,3.12-.83s2.07.25,2.9.75c.85.5,1.51,1.19,1.97,2.08.48.88.72,1.88.72,3,0,.17,0,.35-.02.55-.02.18-.05.4-.1.65h-10.02v-1.88h8.82l-.82.72c0-.8-.14-1.47-.43-2.02-.28-.57-.68-1-1.2-1.3-.52-.32-1.14-.48-1.88-.48s-1.44.17-2.03.5c-.58.33-1.03.8-1.35,1.4-.32.6-.48,1.31-.48,2.12s.17,1.57.5,2.2c.33.62.81,1.1,1.43,1.45.62.33,1.32.5,2.12.5.67,0,1.28-.12,1.82-.35.57-.23,1.05-.58,1.45-1.05l1.45,1.48c-.57.67-1.27,1.17-2.1,1.53-.82.35-1.69.52-2.62.52Z"
          ></path>
        </g>
      </svg>
    </div>
    <!-- Sådan her laves cards ud fra hver udstiller - laves ud fra alle deltagere i databasen -->
    <div class="artist_container">
      {
        participants.map((participant) => (
          <a class="artist_card" href={`/kunstner/${participant.slug}`}>
            <Image src={participant.firstImage} alt={participant.name} />
            <h5 class="artist_name">{participant.name}</h5>
          </a>
        ))
      }
    </div>
  </main>
</Mainlayout>

<style>
  #arrow {
    max-width: 30px;
  }

  #filter {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
  }
  #filter_knap {
    height: 30px;
  }
  h2 {
    font-weight: bold;
    font-size: 1.9rem;
    margin-top: 30px;
  }

  h6 {
    display: none;
  }

  #breadcrumb nav {
    display: block;
  }

  #breadcrumb {
    display: grid;
    grid-template-columns: 1fr 8fr;
  }

  #breadcrumb nav {
    text-align: right;
  }

  /* creating the breadcrumb foundation */
  #breadcrumb ul {
    list-style: none;
    font-weight: bold;
  } /* remove bullet points */
  #breadcrumb ul li {
    display: inline;
    font-size: 0.7rem;
  } /* show list items horizontally */

  /* Put an angle bracket (>) between list items */
  #breadcrumb ul li + li:before {
    content: ">";
    padding: 10px;
    font-size: 0.7rem;
  }

  #breadcrumb ul li a {
    text-decoration: none;
    font-size: 0.7rem;
  } /* remove underlines from links */
  #breadcrumb ul li a:hover {
    text-decoration: underline;
  } /* show underline on mouseover */

  /* ---- Produktliste grid ------ */
  .artist_container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 150px));
    gap: 5px;
    justify-content: center;
    margin-top: 40px;

    & img {
      object-fit: cover;
    }
  }
  .artist_container img {
    height: 150px;
  }

  /* Rectangle 12 */
  .artist_name {
    /* position: absolute; */
    padding: 4px;
    padding-top: 0;
    width: auto;
    left: 40.7px;
    top: 397px;
    background: #e7b7b8;
    color: #fef5ea;
    transform: translateY(-50%);
    height: 20px;
    font-size: 0.8rem;
  }

  @media (min-width: 769px) {
    h6 {
      display: block;
    }

    /* breadcrumb */
    #breadcrumb nav {
      display: block;
      text-align: right;
    }

    #breadcrumb {
      display: grid;
      grid-template-columns: 3fr 3fr;
    }

    #breadcrumb ul li {
      font-size: 1rem;
    }
    #breadcrumb ul li a {
      font-size: 1rem;
    }

    /* vis liste-elementerne horisontalt */
    ul li {
      display: inline;
      font-size: 1rem;
    }

    /* Sæt en (>) mellem liste-elementerne */
    #breadcrumb ul li + li:before {
      content: ">";
      padding: 10px;
      font-size: 1rem;
    }

    ul li a {
      text-decoration: none;
    }
    ul li a:hover {
      text-decoration: underline;
    }

    /* additional styling */
    ul {
      list-style: none;
      color: var(--text-color);
      font-family: "Avenir";
      font-weight: bold;
    }

    ul li a {
      color: var(--text-color);
    }
    ul li a:visited {
      color: var(--text-color);
    }
    ul li + li:before {
      color: var(--text-color);
    }

    h2 {
      font-size: 2.5rem;
    }

    .artist_container {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(220px, 220px));
      gap: 25px;
    }

    .artist_container a {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
    }
    .artist_container img {
      height: 225px;
    }

    .artist_name {
      height: 30px;
      font-size: 1.2rem;
      opacity: 0;
    }

    .artist_card:hover .artist_name {
      opacity: 1;
    }
    #filter_knap {
      height: 50px;
    }
  }
</style>

<style is:global>
  @media (min-width: 769px) {
    #breadcrumb ul a {
      font-size: 1rem;
    }
  }
</style>
