---
import { Image } from "astro:assets";
import Mainlayout from "../../layouts/Mainlayout.astro";
import { apiDetails } from "../../settings";
import FooterButton from "../../components/Footer_Button.astro";
import Newsletter from "../../components/Newsletter.astro";
// import FacebookSvg from "../assets/img/svg_icons/facebook.svg";


export async function getStaticPaths() {
  const data = await fetch(`${apiDetails.supabaseUrl}/market_type?select=*`, {
    method: "GET",
    headers: {
      apikey: apiDetails.supabaseAnonKey,
    },
  }).then((response) => response.json());

  // Laver liste med billeder i imageFolder mappen. Astro doc: https://docs.astro.build/en/recipes/dynamically-importing-images/
  const imageFolder = "/src/assets/img/flid-posters";
  const images = import.meta.glob<{ default: ImageMetadata }>(
    "/src/assets/img/flid-posters/*.{jpeg,jpg,png,gif,webp}"
  );
  const imageFotosFolder = "/src/assets/img/market_type";
  const imageFotos = import.meta.glob<{ default: ImageMetadata }>(
    "/src/assets/img/market_type/*.{jpeg,jpg,png,gif,webp}"
  );

  return data.map((type) => {
    // Check if the image is in our folder, and throw an error if its not.
    if (!images[`${imageFolder}/${type.image_last_poster}`]) {
      throw new Error(
        `"${type.image_last_poster}" ser ud til at mangle i mappen ${imageFolder}`
      );
    }
    if (!imageFotos[`${imageFotosFolder}/${type.image_last_market}`]) {
      throw new Error(
        `"${type.image_last_poster}" ser ud til at mangle i mappen ${imageFolder}`
      );
    }

    return {
      params: { id: type.id },
      props: {
        type,
        poster: images[`${imageFolder}/${type.image_last_poster}`](),
        fotos: imageFotos[`${imageFotosFolder}/${type.image_last_market}`](),
      },
    };
  });
}

interface Props {
  type: any;
  poster: ImageMetadata;
  fotos: ImageMetadata;
}

const { type, poster, fotos } = Astro.props;
---

<Mainlayout>
  <main>
    <h1>{type.type}</h1>
    <section><div>
    <Image class="poster" src={poster} alt={type.type} />
  </div>
  <div>
    <h2>Deltag i vores {type.type}</h2>
    <p>{type.description}</p>
    <div class="some-section">
    <FooterButton />
    <div class="so-me">
    <img src="/src/assets/img/svg_icons/facebook.svg" alt="facebook">
    <img src="/src/assets/img/svg_icons/instagram.svg" alt="instagram"></div>
  </div></div>
  </section>
  <section>
    <Image src={fotos} alt={type.type} />
    <Newsletter />
  </section>
  </main>
</Mainlayout>

<style>
  h1 {
    text-transform: capitalize;
  }
  .poster{

  }
  .some-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
  }
  .so-me{
    display: flex;
    flex-direction: row;
    gap: 10px;
    height: 200px;
    width:200px;
    align-items: center;
    align-content: center;
    
  }
  section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }
</style>
