---
import { Image } from "astro:assets";
import Mainlayout from "../../layouts/Mainlayout.astro";
import { apiDetails } from "../../settings";
import FooterButton from "../../components/Footer_Button.astro";
import Newsletter from "../../components/Newsletter.astro";
// import FacebookSvg from "../assets/img/svg_icons/facebook.svg";


export async function getStaticPaths() {
  const data = await fetch(`${apiDetails.supabaseUrl}/market_type?select=*`, {
    method: "GET",
    headers: {
      apikey: apiDetails.supabaseAnonKey,
    },
  }).then((response) => response.json());

  // Laver liste med billeder i imageFolder mappen. Astro doc: https://docs.astro.build/en/recipes/dynamically-importing-images/
  const imageFolder = "/src/assets/img/flid-posters";
  const images = import.meta.glob<{ default: ImageMetadata }>(
    "/src/assets/img/flid-posters/*.{jpeg,jpg,png,gif,webp}"
  );
  const imageFotosFolder = "/src/assets/img/market_type";
  const imageFotos = import.meta.glob<{ default: ImageMetadata }>(
    "/src/assets/img/market_type/*.{jpeg,jpg,png,gif,webp}"
  );

  return data.map((type) => {
    // Check if the image is in our folder, and throw an error if its not.
    if (!images[`${imageFolder}/${type.image_last_poster}`]) {
      throw new Error(
        `"${type.image_last_poster}" ser ud til at mangle i mappen ${imageFolder}`
      );
    }
    if (!imageFotos[`${imageFotosFolder}/${type.image_last_market}`]) {
      throw new Error(
        `"${type.image_last_poster}" ser ud til at mangle i mappen ${imageFolder}`
      );
    }

    return {
      params: { id: type.id },
      props: {
        type,
        poster: images[`${imageFolder}/${type.image_last_poster}`](),
        fotos: imageFotos[`${imageFotosFolder}/${type.image_last_market}`](),
      },
    };
  });
}

interface Props {
  type: any;
  poster: ImageMetadata;
  fotos: ImageMetadata;
}

const { type, poster, fotos } = Astro.props;
---

<Mainlayout>
  <main>
    <h1>{type.type}</h1>
    <section><div>
    <Image class="poster" src={poster} alt={type.type} />
  </div>
  <div>
    <h2>Deltag i vores {type.type}</h2>
    <p>{type.description}</p>
    <div class="some-section">
    <svg id="footer_button" data-name="Layer 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 119.62 35.18">
      <defs>
        <style>
          .stroke {
            fill: #281411;
            stroke-width: 0px;
          }
    
          .fyldud {
            fill: #fef5ea;
            stroke: #281411;
            stroke-width: 2px;
          }
        </style>
      </defs>
      <g id="footer_button" data-name="Layer 1">
        <path class="fyldud" d="M1,10.55C1,5.28,5.28,1,10.55,1h84.92c12.78,0,23.14,10.36,23.14,23.14,0,5.54-4.49,10.04-10.04,10.04H24.63C11.58,34.18,1,23.6,1,10.55Z"/>
        <path class="stroke" d="M24.81,22.42v-8.33h1.13v8.33h-1.13ZM25.57,18.76v-1.03h4.34v1.03h-4.34ZM25.57,15.13v-1.03h4.55v1.03h-4.55ZM31.6,22.42v-8.33h1.13v8.33h-1.13ZM34.7,22.42v-8.33h.79l.34,1.31v7.02h-1.13ZM40.46,22.42l-5.11-6.83.14-1.5,5.12,6.82-.16,1.51ZM40.46,22.42l-.34-1.24v-7.09h1.13v8.33h-.79ZM43.96,22.42v-1.03h2.32c.62,0,1.16-.13,1.62-.4.46-.27.82-.64,1.08-1.12.26-.47.4-1.02.4-1.63s-.13-1.15-.4-1.62-.63-.84-1.09-1.1c-.46-.26-1-.4-1.61-.4h-2.3v-1.03h2.33c.61,0,1.17.1,1.68.31.52.21.97.5,1.34.88.38.38.68.82.89,1.32.22.5.32,1.06.32,1.66s-.11,1.14-.32,1.66c-.21.5-.5.94-.88,1.32-.38.38-.82.67-1.34.88-.51.21-1.07.31-1.67.31h-2.36ZM43.22,22.42v-8.33h1.13v8.33h-1.13ZM58.39,22.54c-.59,0-1.14-.11-1.66-.32-.51-.22-.96-.53-1.34-.92-.38-.4-.68-.86-.9-1.38-.21-.52-.31-1.08-.31-1.67s.1-1.16.31-1.67c.22-.52.51-.98.89-1.37.38-.39.83-.7,1.33-.91.51-.22,1.06-.32,1.66-.32s1.14.11,1.64.32c.51.22.96.52,1.34.91.38.39.68.85.9,1.37.22.52.32,1.08.32,1.68s-.11,1.15-.32,1.67c-.22.52-.52.98-.9,1.37-.38.39-.82.7-1.33.92-.5.22-1.05.32-1.63.32ZM58.36,21.46c.6,0,1.12-.14,1.57-.41.46-.28.82-.66,1.08-1.14.26-.49.4-1.04.4-1.67,0-.46-.08-.89-.23-1.27-.15-.39-.36-.73-.64-1.02-.27-.29-.59-.51-.96-.66-.37-.16-.78-.24-1.22-.24-.59,0-1.12.14-1.57.41-.45.27-.8.65-1.07,1.13-.26.48-.38,1.03-.38,1.66,0,.46.07.9.22,1.3.15.39.36.73.62,1.02.27.28.59.5.96.66.38.16.78.24,1.22.24ZM66.2,22.54c-.66,0-1.22-.12-1.68-.36-.46-.24-.88-.59-1.24-1.04l.77-.77c.26.37.57.65.91.84.34.18.77.28,1.27.28s.89-.11,1.19-.32c.3-.22.46-.51.46-.89,0-.31-.07-.56-.22-.76s-.34-.35-.59-.47c-.24-.13-.5-.24-.79-.34-.29-.1-.58-.21-.86-.32-.29-.12-.55-.26-.79-.43-.24-.18-.44-.4-.59-.68-.14-.28-.22-.63-.22-1.06,0-.47.11-.87.34-1.2.23-.34.54-.59.94-.77.4-.18.85-.28,1.34-.28.54,0,1.03.11,1.46.32.43.21.78.48,1.06.83l-.77.77c-.25-.29-.52-.5-.8-.65-.28-.14-.6-.22-.97-.22-.45,0-.8.1-1.07.3-.26.19-.4.46-.4.82,0,.28.07.51.22.68.15.17.35.31.59.43.24.12.5.23.79.34.3.1.59.2.88.32.29.12.55.27.79.46s.43.42.58.72c.15.29.23.65.23,1.09,0,.74-.26,1.31-.77,1.73-.5.42-1.19.62-2.05.62ZM73.04,22.42v-8.33h1.13v8.33h-1.13ZM78.42,22.42v-8.33h1.13v8.33h-1.13ZM73.81,18.63v-1.03h4.88v1.03h-4.88ZM81.51,22.42v-8.33h1.13v8.33h-1.13ZM82.28,22.42v-1.03h4.78v1.03h-4.78ZM82.28,18.66v-.98h4.38v.98h-4.38ZM82.28,15.13v-1.03h4.72v1.03h-4.72ZM89.35,18.8v-.95h2.26c.49,0,.86-.12,1.13-.37.26-.25.4-.58.4-1.01,0-.4-.13-.73-.4-1-.26-.26-.63-.4-1.12-.4h-2.27v-.98h2.3c.53,0,.99.1,1.38.31.39.2.69.48.9.83.22.35.32.76.32,1.21s-.11.88-.32,1.24c-.21.35-.51.63-.9.83-.39.19-.85.29-1.38.29h-2.3ZM88.59,22.42v-8.33h1.13v8.33h-1.13ZM93.39,22.42l-3.02-3.73,1.07-.37,3.38,4.1h-1.43Z"/>
      </g>
    </svg>
    <svg
        id="insta_icon"
        class="so-me"
        data-name="Layer 2"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        viewBox="0 0 46 46"
      >
        <defs>
          <style>
            .fyld {
              fill: #adb3ea;
            }

            .fyld,
            .cls-2 {
              stroke-width: 0px;
            }

            .cls-3 {
              clip-path: url(#clippath);
            }

            .cls-2 {
              fill: none;
            }
          </style>
          <clipPath id="clippath">
            <rect class="cls-2" width="46" height="46"></rect>
          </clipPath>
        </defs>
        <g id="Layer_1-2" data-name="Layer 1">
          <g class="cls-3">
            <path
              class="fyld"
              d="M29.21,11.14h-12.43c-3.11,0-5.65,2.53-5.65,5.65v12.43c0,3.11,2.53,5.65,5.65,5.65h12.43c3.11,0,5.65-2.53,5.65-5.65v-12.43c0-3.11-2.53-5.65-5.65-5.65ZM23,29.94c-4.87,0-7.16-2.07-7.16-6.94s2.29-7.58,7.16-7.58,7.12,2.71,7.12,7.58-3.05,6.94-7.12,6.94ZM30.67,16.49c-.95,0-1.45-.57-1.45-1.52s.5-1.54,1.45-1.54,1.5.59,1.5,1.54-.55,1.52-1.5,1.52ZM23,18.37c-2.68,0-4.21,1.95-4.21,4.63s1.53,3.99,4.21,3.99,4.18-1.3,4.18-3.99-1.49-4.63-4.18-4.63ZM23,0C10.3,0,0,10.3,0,23s10.3,23,23,23,23-10.3,23-23S35.7,0,23,0ZM38.29,29.21c0,5.65-3.43,9.11-9.08,9.11h-12.43c-5.65,0-9.34-3.47-9.34-9.11v-12.43c0-5.65,3.69-9.08,9.34-9.08h12.43c5.65,0,9.08,3.43,9.08,9.08v12.43Z"
            ></path>
          </g>
        </g>
      </svg>
      <svg
        id="facebook_icon"
        class="so-me"
        data-name="Layer 2"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 46 46"
      >
        <defs>
          <style>
            .fyld {
              fill: var(--accent-color);
              stroke-width: 0px;
            }
          </style>
        </defs>
        <g id="Layer_1-2" data-name="Layer 1">
          <path
            class="fyld"
            d="M23,0C10.3,0,0,10.36,0,23.14c0,11.55,8.41,21.12,19.41,22.86v-16.17h-5.84v-6.69h5.84v-5.1c0-5.8,3.43-9,8.69-9,2.52,0,5.15.45,5.15.45v5.69h-2.91c-2.85,0-3.74,1.79-3.74,3.62v4.34h6.37l-1.02,6.69h-5.35v16.17c11-1.73,19.41-11.31,19.41-22.86C46,10.36,35.7,0,23,0Z"
          ></path>
        </g>
      </svg>
    <!-- <img class="so-me" src="/src/assets/img/svg_icons/facebook.svg" alt="facebook">
    <img class="so-me" src="/src/assets/img/svg_icons/instagram.svg" alt="instagram"> -->
  </div></div>
  </section>
  <section>
    <Image src={fotos} alt={type.type} />
    <Newsletter />
  </section>
  </main>
</Mainlayout>

<style>
  #insta_icon:hover .fyld,
  #facebook_icon:hover .fyld {
    fill: var(--accent-color-shade);
  }
  h1 {
    text-transform: capitalize;
  }
  #footer_button:hover .fyldud{
          fill: #281411;
          stroke: #FEF5EA;
    }
 #footer_button:hover .stroke{
          fill: #FEF5EA;
    }

#footer_button{
  max-width: 150px;
    }
  .some-section{
    display: flex;
    gap: 20px;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
  }
  .so-me{
    display: flex;
  
    height: 80px;
    width:80px;
  
  }
  section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }
</style>
