---
import { Image } from "astro:assets";
import Mainlayout from "../../layouts/Mainlayout.astro";
import { apiDetails } from "../../settings";

export async function getStaticPaths() {
  const data = await fetch(`${apiDetails.supabaseUrl}/market?select=*`, {
    method: "GET",
    headers: {
      apikey: apiDetails.supabaseAnonKey,
    },
  }).then((response) => response.json());

  // Laver liste med billeder i imageFolder mappen. Astro doc: https://docs.astro.build/en/recipes/dynamically-importing-images/
  const imageFolder = "/src/assets/img/flid-posters";
  const images = import.meta.glob<{ default: ImageMetadata }>(
    "/src/assets/img/flid-posters/*.{jpeg,jpg,png,gif,webp}"
  );

  return data.map((market) => {
    // Check if the image is in our folder, and throw an error if its not.
    if (!images[`${imageFolder}/${market.image}`]) {
      throw new Error(
        `"${market.image}" ser ud til at mangle i mappen ${imageFolder}`
      );
    }

    return {
      params: { slug: market.slug },
      props: {
        market,
        poster: images[`${imageFolder}/${market.image}`](),
      },
    };
  });
}

interface Props {
  market: any;
  poster: ImageMetadata;
}

const { market, poster } = Astro.props;
---


<Mainlayout>
  <main>
    <h2>Udstillerne på næste marked</h2>
      <a href="/src/pages/marked/[slug].astro">
        <div class="sensommer_container">
        <img src="/src/assets/img/sensommermarked.webp" alt="sensommermarked">
        <Image src={poster} alt={market.name} />
          <div></div>
          <h5>{market.name}</h5>
        </div>
      </a>
    <h2>Udstillerne på forrige marked</h2>
    <article id="market_parent">
        <section class="market_child">
          <a href="/src/pages/kunstner/[slug].astro"></a>
          <img src="/src/assets/img/flid-posters/foraarsmarked23.webp" alt="">
          <Image src={poster} alt={market.name} />
          <div></div>
          <h6>Forårsmarked 2024</h6> 
        
      </a> 
  </section>
        <section class="market_child">
              <a href="artists_listview">
        <img src="/src/assets/img/flid-posters/julemarked23.webp" alt="">
        <Image src={poster} alt={market.name} />
         <div></div>
          <h6>Julemarked 2024</h6>
             </a>
      </section>
 
        <section class="market_child">
          <a href="artists_listview"></a>
        <img src="/src/assets/img/flid-posters/foraarsmarked22.webp" alt="">
        <Image src={poster} alt={market.name} />
        <div></div>
          <h6>Forårsmarked 2023</h6>
       </a>
      </section> 
     
    </article>  
  </main>
</Mainlayout>

<style>
.arrow{
  max-width: 30px;
  }

  h2{
    font-weight: bold;
    font-size: 1.9rem;
  }

  h6{
    display: none;
  }

  #breadcrumb{
    padding-bottom: 5%;
    padding-top: 2%;
  }
  #breadcrumb nav{
    display: none;
  }
 
  /* ---- Produktliste grid ------ */
  .artist_container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 150px));
    gap: 5px;
    justify-content: center;
  }

  /* Rectangle 12 */
  .artist_name{
  /* position: absolute; */
  padding: 4px;
  padding-top: 0; 
  width: auto;
  height: 30px;
  left: 40.7px;
  top: 397px;
  background: #E7B7B8;
  color: #FEF5EA;
  }

  @media (min-width: 769px) {
h6{
  display: block;
}  

/* breadcrumb */
#breadcrumb nav{
    display: block;
  }
 
#breadcrumb {
  display: grid;
  grid-template-columns: 3fr 3fr;
}

#breadcrumb nav{
  text-align: right;
}
ul { 
  list-style: none; 
}

/* vis liste-elementerne horisontalt */
ul li { 
  display: inline; 
} 

/* Sæt en (>) mellem liste-elementerne */
#breadcrumb ul li+li:before {
  content: ">";
  padding: 10px;  
}

ul li a { 
  text-decoration: none; 
}
ul li a:hover { 
  text-decoration: underline; 
}

/* additional styling */
ul {
color: var(  --text-color);
  font-family: "Avenir";
  font-weight: bold;
}

ul li a {color: var(  --text-color);}
ul li a:visited {color: var(  --text-color)}
ul li+li:before {color: var(  --text-color)}

h2{
  font-size: 2.5rem;
}

.artist_container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 220px));
    gap: 25px;
  }

}
</style>