---
import { Image } from "astro:assets";
import img1 from "../assets/img/unika-image.webp";
import img2 from "../assets/img/artists/helene-keinicke/helene-keinicke5.webp";
import img3 from "../assets/img/artists/rosamunde/rosamunde14.webp";
import img4 from "../assets/img/julemarked19/j19-1.webp";
import img5 from "../assets/img/julemarked19/j19-2.webp";
import Mainlayout from "../layouts/Mainlayout.astro";
import Timeline from "../components/Timeline.astro";
import Accordion from "../components/Accordion.astro";
import Footer from "../components/Footer.astro";
---

<Mainlayout>
  <main>
    <div class="about-flid mb-l">
      <h1>Om os</h1>
      <p>
        <span>Flid</span>
        er et kunst- og designplatform, hvor det skandinaviske kreative vækstlag
        viser deres kunst, design og kunsthåndværk frem. På markedet får interesserede
        gæster muligheden for at møde skabende kunstnere, designere og kunsthåndværkere
        i uformelle omgivelser, hvor man kan erhverve sig værker, indgå dialog om
        de kreative arbejdsprocesser, se de nyeste tendenser samt etablere forskellige
        typer af samarbejde.
      </p>
    </div>

    <Timeline />

    <div class="flex-row flex-center mb-l">
      <p>
        <span id="visitor-count">0</span>
        <span class="fade-in-2s">besøgende pr. år</span>
      </p>
    </div>

    <div class="keyword-section pc-flex-row">
      <div>
        <h3>Unika</h3>
        <Image
          src={img1}
          alt="Billede af en skål lavet af kunstneren Lærke Laura"
        />
      </div>

      <div>
        <h3 class="pc-hide">Håndlavet</h3>
        <Image
          src={img2}
          alt="Billede af en illustration lavrt af kunstneren Helene Keinicke"
        />
        <h3 class="pc-only">Håndlavet</h3>
      </div>

      <div>
        <h3>Fællesskab</h3>
        <Image
          src={img3}
          alt="Billede af kopper lavet af kunstneren Rosamunde"
        />
      </div>
    </div>

    <div class="pc-flex-row gap-m mb-m">
      <div class="accordion-section flex1">
        <Accordion title="Hvem er Flid?">
          <p>
            Flid består i bund og grund af ene og alene af Trine Wagner, som har
            skiftet og drevet Flid siden 2014. Udover Trine er hendes bedste ven
            Johan og mand indover til at hjælpe når det hele spidser til.
          </p>
          <p>
            Flid er altså indbegrebet af en lille, intim, familie virksomhed som
            er skabt og drevet af kærlighed.
          </p>
        </Accordion>
        <Accordion title="Hvordan opstod Flid?">
          <p>
            Flid blev stiftet af Trine Wagner i 2014. Her er hendes fortælling
            omkring hvordan Flid blev til:
          </p>
          <p>
            <i>
              “Jeg startede Flid mens jeg studere på CBS for at få mit liv til
              at hænge sammen. Jeg synes at der manglede en markedsplads, hvor
              jeg kunne føle mig set og hvor tingene var lavet med hænderne og
              hvor man kunne mærke kærligheden der lå bag.
            </i>
          </p>
          <p>
            <i>
              I starten skete det egentlig meget af sig selv, og jeg tænkte ikke
              så meget over det. Jeg har siden hen fået meget større vision for
              hvad Flid kan blive til. Det var et kæmpe stort skridt jeg tog
              uden at vide hvordan jeg skulle bære mig ad med at få det til at
              fungere. Den dag i dag er jeg bare så stolt over at jeg gjorde
              det, og at jeg turde at tage skridtet og kaste mig ud i det. Det
              er lige den følelse jeg også har omkring de mega seje kunstnere
              som kommer og er en del af Flid. Jeg synes at de er så mega seje
              og super modige. De tager deres hjerte, og sætter det frem for
              alle at se og ikke mindst kritisere. Det tror jeg er vigtigt at
              huske og ikke mindst at gøre. Det er vigtigt at kaste sig selv ud,
              der hvor man ikke kan bunde af og til.
            </i>
          </p>
          <p><i>Det var det jeg gjorde da jeg startede Flid.”</i></p>
        </Accordion>
        <Accordion title="Hvad er Flids kerneværdier?">
          <p>
            Da vi hos Flid har mange forskellige typer af kreative udstillere,
            har vi udviklet differentierede kerneværdisæt for deltagerne.
          </p>
          <p><b>Kunst</b></p>
          <p>
            Hos Flid har vi opstillet et kriterie, der hedder, at vi gerne ser
            at udstillerne medbringer originalkunst, limited edition-tryk (max.
            50) og unika. Med dette kriterium håber vi, at kunne være med til at
            fremme originalkunstens virke.
          </p><br />
          <p><b>Design og kunsthåndværk</b></p>
          <p>
            Hos Flid hylder vi dét danske og skandinaviske design, der er
            produceret lokalt eller nationalt. Flid tager stilling til
            bæredygtighed, vi har derfor udviklet et regelsæt, som udstillerne
            skal følge for at kunne deltage i Flid;
          </p><p>
            Det betyder bl.a. at har en udstiller en fabrikant udenfor Europa,
            da skal der indgå fremmende sociokulturelle elementer i
            produktionslandet ellers kan man desværre ikke blive udstiller hos
            Flid. Vi forventer, at designerne har taget stilling til
            bæredygtighed i deres produktion, arbejder med grønne alternativer
            og vi udbeder os beskrivelser af produktionsforhold fra idé til
            produkt.
          </p>
        </Accordion>
        <Accordion title="Flids historie">
          <p>
            Flids blev stiftet i 2014 og består i dag af + 500 dygtige kreative
            fra Skandinavien. Kunsthåndværkere, designere og kunstnere giver til
            Flids julemarked deres besyv med tidens formgivning, giver et
            indblik i håndværkets tilblivelse og sælger deres unikke
            kunsthåndværk, originale værker samt håndlavede design. Udstillerne
            til Flids Julemarked skaber deres design så bæredygtigt som muligt
            og involverede produktionselementer skal foregå i Danmark, EU
            og/eller bidrage med at være en del af et sociokulturelt samarbejde,
            der gavner udviklingsarbejde i produktionslandet.
          </p>
          <p>
            Stifter Trine Wagner beretter:
            <i
              >”Dansk kunst, design og kunsthåndværk har stolte traditioner. De
              traditioner gør os i stand til at fastholde og formidle begreberne
              kvalitet samt æstetik, der i dag kendetegner vores kunst, design
              og kunsthåndværk. De gør os modstandsdygtige overfor den usunde,
              stigende masseproduktion som vi ser rundt om i verden, og de er en
              væsentlig del af løsningen på en klimavenlig fremtid; forbrugerne
              skal købe væsentligt mindre og erhverve sig design, der kan bruges
              gennem årtier”.
            </i>
          </p>
        </Accordion>
      </div>

      <div class="flex1">
        <Image
          class="accordion-img mb-m"
          src={img4}
          alt="Billede af udstillere på Flids julemarked 2019"
        />
      </div>
    </div>

    <div class="pc-flex-row-reverse gap-m mb-m">
      <div class="accordion-section flex1">
        <Accordion title="Flids mission og vision">
          <p><b>Vision</b></p>
          <p>
            Det er Flids vision at tilføre den skandinaviske kunst- og
            designscenens vækstlag en stærk eksponeringsplatform, hvor
            kunsthåndværkere, designere og kunstnere kan sælge deres værker,
            projekter og kunsthåndværk.
          </p><br />
          <p><b>Mission</b></p>
          <p>
            Missionen bag Flid er at skabe tiltag, der kan forbedre mulighederne
            for kunstnere, designere og kunsthåndværkere. Flid faciliterer
            udstillinger, events, støtteauktioner, kunst- og designmarkeder,
            hvor kreative under en samlet identitet kan opnå eksponering, sælge
            deres værker samt etablere samarbejde med andre fra den kreative
            industri.
          </p></Accordion
        >
        <Accordion title="Hvad er Flids kunstneriske omdrejningspunkt?">
          <p>
            Det kunstneriske omdrejningspunkt for Flid er: maleri, keramik,
            brugskunst, illustration, smykkekunst, design, kunsthåndværk,
            collage- og fotokunst.
          </p>
          <p>
            Hos Flid udvælger vi kunstnere, designere og kunsthåndværkere ud fra
            kriterier:
          </p>
          <ul>
            <li>Originalitet</li>
            <li>Formgivning, udformning samt produktionsmetoder</li>
            <li>Materialevalg</li>
          </ul>
        </Accordion>
        <Accordion
          title="Flids designbasar og auktion for Dansk Flygtningehjælp"
        >
          <p>
            I september 2015, opstod der hos Flid en kollektiv idé om at lave en
            indsamlingsauktion til fordel for flygtninge. Derfor gik mere end 35
            danske kunstnere, designere og kunsthåndværkere sammen om at donere
            værker, design samt artwear til en designbasar, der blev afholdt i
            Den Frie Udstillingsbygning på Kulturnatten d. 09.10.2015.
          </p>
          <p>
            Endvidere afholdt vi en auktion i HUS Ø på Blågårdsgade d.
            16.10-23.10, hvor man kunne byde på værker.
          </p>
          <p>Overskuddet gik ubeskåret til Dansk Flygtningehjælp.</p>
          <p>
            Er du intersserede i lignende arrangermenter? Så kontakt os endelig
            på mail: <span class="e-mail">flidmarked@gmail.com</span>
          </p>
        </Accordion>
      </div>

      <div class="flex1">
        <Image
          class="accordion-img mb-m"
          src={img5}
          alt="Billede af udstillere på Flids julemarked 2019"
        />
      </div>
    </div>
  </main>

  <style>
    .about-flid {
      max-width: 525px;

      & span {
        font-size: 2rem;
      }
    }

    #visitor-count {
      font-size: 2rem;
      font-weight: bold;
    }

    .fade-in-2s {
      animation: fade-in 4s;
    }

    @keyframes fade-in {
      from {
        opacity: 0;
      }
      50% {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }

    .keyword-section {
      padding: var(--spacing-small);

      & h3 {
        margin-bottom: -8px;
        margin-left: -16px;
      }
      & img {
        aspect-ratio: 1 / 1;
        max-width: 400px;
        width: 65%;
        margin-bottom: var(--spacing-medium);
      }
    }

    .accordion-section {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-bottom: var(--spacing-medium);
      & p {
        margin-bottom: var(--spacing-small);
      }

      & ul {
        padding: var(--spacing-small);
      }
      & .e-mail {
        font-style: italic;
        color: var(--accent-color-shade);
        text-decoration: underline;
      }
    }

    @media (min-width: 769px) {
      .about-flid span {
        font-size: 3rem;
      }

      .keyword-section {
        margin-bottom: var(--spacing-large);
        & :nth-child(2) {
          margin-bottom: 0;
          & .pc-only {
            margin-top: -9px;
          }
        }
        & img {
          width: 75%;
        }
      }

      .accordion-section {
        margin-bottom: 0;
      }

      .accordion-img {
        height: 100%;
        object-fit: cover;
        margin-bottom: 0;
      }
    }
  </style>

  <script>
    const counter = document.getElementById("visitor-count");
    let currentNumber = 0;
    let interval; // Store interval, so we can stop it

    function countUp() {
      currentNumber += 7; // Adjust how fast its counting
      counter.textContent = `${currentNumber}`;
      if (currentNumber >= 1800) {
        clearInterval(interval); // Stops interval when 1800 is reached
        counter.textContent = "1809";
      }
    }

    interval = setInterval(countUp, 1);
  </script>
</Mainlayout>
