---
import { Image } from "astro:assets";
import Mainlayout from "../layouts/Mainlayout.astro";
import { apiDetails } from "../settings";

const data = await fetch(`${apiDetails.supabaseUrl}/market?select=*`, {
  method: "GET",
  headers: {
    apikey: apiDetails.supabaseAnonKey,
  },
}).then((response) => response.json());

// Laver liste med billeder i imageFolder mappen. Astro doc: https://docs.astro.build/en/recipes/dynamically-importing-images/
const imageFolder = "/src/assets/img/flid-posters";
const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/img/flid-posters/*.{jpeg,jpg,png,gif,webp}"
);
---

<Mainlayout>
  <main>
    <h1>Mød udstillerne</h1>
    <h5>Udstillerne på tidligere markeder</h5>
    <!-- Cards lavet til hvert marked med billede og tekst + som linjer til den specifikke underside -->
    <article id="market_parent">
      {
        data.map((market) => (
          <a href={`/kunstner-oversigt/${market.slug}`}>
            <div class="market_child">
              <div class="market_overlay"></div>
              <div class="market_image_container">
                <Image
                  src={images[`${imageFolder}/${market.image}`]()}
                  alt={market.slug}
                  class="market_image"
                />
              </div>
              <h6>{market.name}</h6>
            </div>
          </a>
        ))
      }
    </article>
  </main>
</Mainlayout>

<style>
  /* Generel styling */
h5{
  margin-bottom: 3px;
}
  #market_parent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .market_child {
    position: relative;
    width: 300px;
    height: 424px;
    margin-top: 6%;
    cursor: pointer;
    transition: all 0.3s ease;
    overflow: hidden;
  }

  .market_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--secondary-color);
    transition: opacity 0.1s ease-out;
    opacity: 40%;
  }

  .market_image_container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
  }

  .market_image {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  h6 {
    position: absolute;
    bottom: 10px;
    width: 80%;
    left: 40%;
    transform: translateX(-50%);
    z-index: 30;
    text-align: left;
    color: var(--text-color);
    margin: 0;
    padding: 5px;
    background-color: var(
      --secondary-color
    ); /* Baggrundsfarve for bedre læsbarhed */
    /* border-radius: 5px; */
  }

  h6:hover {
    color: var(--text-color);
  }

  @media (min-width: 769px) {
    #market_parent {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: repeat(auto-fill, minmax(500px, 500px));
      align-items: center;
      margin: auto;
      gap: 15px;
      width: auto;
    }

    .market_overlay {
      z-index: 20;
      opacity: 80%;
    }

    .market_child:hover .market_overlay {
      opacity: 0;
    }

    h6 {
      background-color: var(--secondary-color-tint2);
    }
  }
</style>

<!-- ---
import { Image } from "astro:assets";
import Mainlayout from "../layouts/Mainlayout.astro";
import { apiDetails } from "../settings";

const data = await fetch(`${apiDetails.supabaseUrl}/market?select=*`, {
  method: "GET",
  headers: {
    apikey: apiDetails.supabaseAnonKey,
  },
}).then((response) => response.json());

// Laver liste med billeder i imageFolder mappen. Astro doc: https://docs.astro.build/en/recipes/dynamically-importing-images/
const imageFolder = "/src/assets/img/flid-posters";
const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/img/flid-posters/*.{jpeg,jpg,png,gif,webp}"
);
---

<Mainlayout>
  <main>
    <h2>Udstillerne på tidligere markeder</h2>
    Cards lavet til hvers marked med billede og tekst + som linjer til den specifikke underside 
    <article id="market_parent"> 
     {
      data.map((market) => (
         <a href={`kunstner-oversigt/${market.slug}`}>
         <div class="market_child"> <div class="market_overlay"> 
            <Image
              src={images[`${imageFolder}/${market.image}`]()}
              alt={market.slug}
              class="market_image"
            />
            <p>{market.name}</p>
         </div> </div>
          
        </a>  
       
      ))
    }
   
    </article> 

    <a href=`/kunstner-oversigt/${data.slug}`>
      <div class="sensommer_container">
        <img src={data.image} alt={data.name} />
        <div></div>
        <h5>{data.name}</h5>
      </div>
    </a>
    <h2>Udstillerne på forrige marked</h2>
    <article id="market_parent">
      <section class="market_child">
        <a href=`/kunstner-oversigt/${data.slug}`></a>
        <img src={data.image} alt={data.name} />
        <div></div>
        <h6>Forårsmarked 2024</h6>
      </section>
    </article>
    <section class="market_child">
      <a href=`/kunstner-oversigt/${data.slug}`>
        <img src={data.image} alt={data.name} />
        <div></div>
        <h6>Julemarked 2024</h6>
      </a>
    </section>

    <section class="market_child">
      <a href=`/kunstner-oversigt/${data.slug}`></a>
      <img src={data.image} alt={data.name} />
      <div></div>
      <h6>Forårsmarked 2023</h6>
    </section> -->

<style>
  /* .sensommer_container div {
    width: 100%;
    height: 40px;
    background-color: var(--secondary-color-shade);
    transform: translateY(-100%);
    opacity: 80%;
    position: relative;
    z-index: 0;
  }

  .sensommer_container h5 {
    transform: translateY(-250%);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  /* Generel styling 
  #market_parent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .market_child {
    position: relative;
    width: 300px;
    height: 450px;
    margin-top: 6%;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .market_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #d68893;
    z-index: 30;
    transition: opacity 0.1s ease;
    opacity: 1;
  }

  .market_child:hover .market_overlay {
    opacity: 0;
  }

  .market_image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 5;
  }

  p {
    position: relative;
    z-index: 20;} 
    /*
    text-align: center;
    margin-top: 460px; /* Juster denne værdi efter behov */
  /* color: var(--text-color);


  @media (min-width: 769px) {
    #market_parent {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: repeat(auto-fill, minmax(500px, 500px));
      align-items: center;
      margin: auto;
      gap: 15px;
      width: auto;
    }
  }
  
.market_child img {
  width: 100%;
  height: auto;
  display: none;  Skjul billedet som standard 
   transition: transform 0.3s ease;
}

  .market_child div {
  background-color: #281411;
  width: 100%;
  height: 50px;
  transition: all 0.3s ease;
  z-index: 1;
  position: relative;
} 

  /* .market_child h6 {
  position: relative;
  color: #FEF5EA;
  margin: 0;
  padding: 10px;
  transition: all 0.3s ease;
  z-index: 2;
} */

  /* Hover effekt */
  /* .market_child:hover {
  width: auto;
}

.market_child:hover img {
  display: block; /* Vis billedet ved hover */
  /* transform: translateY(-50px); /* Juster som nødvendigt */

  /* .market_child:hover div {
  height: auto; /* Juster højden efter indhold */
  /* background-color: transparent; /* Fjern baggrundsfarven */
  /* width: auto; /* Juster bredden efter indhold 
   z-index: 0;
}*/

  /* .market_child:hover h6 {
  transform: translateY(-50px); /* Juster positionen som nødvendigt}
*/
</style>
