---
import { Image } from "astro:assets";
import img1 from "../assets/img/timeline-img1.webp";
import img2 from "../assets/img/timeline-img2.webp";
import img3 from "../assets/img/timeline-img3.webp";
import img4 from "../assets/img/timeline-img4.webp";
import img5 from "../assets/img/timeline-img5.webp";
---

<div class="timeline">
  <svg
    class="line-placement"
    width="100%"
    height="100%"
    viewBox="0 0 527 1504"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M117.562 2C-32.6688 166.099 -11.8657 342.524 178.95 275.498L329.429 216.176C389.768 189.211 468.626 175.344 490.969 258.549C509.166 326.315 492.757 360.243 432.418 404.157L287.579 504.311C243.142 534.357 199.999 626.807 306.316 626.807H453.466C559.783 626.807 546.131 824.342 424.713 896.453C303.295 968.564 188.709 1012.27 146.593 1025.11C-106.629 1102.31 -1.85208 1442.68 264.71 1502"
      stroke-width="5"></path>
  </svg>

  <div data-aos="fade-in">
    <Image src={img1} alt="Billede af kunstner som skaber kunst" />
    <p>Kunstner får ide</p>
  </div>

  <div data-aos="fade-in">
    <Image src={img2} alt="Færdigt kunstværk" />
    <p>Færdigt kunstværk</p>
  </div>

  <div data-aos="fade-in">
    <Image src={img3} alt="Billede af kunst på Flid marked" />
    <p>Kunstner kontakter Flid</p>
  </div>

  <div data-aos="fade-in">
    <Image src={img4} alt="Kunstner og kunde krammer" />
    <p>Match mellem kunst og køber</p>
  </div>

  <div data-aos="fade-in">
    <Image src={img5} alt="Færdigt kunstværk i et hjem" />
    <p>Kunstværk får nyt hjem</p>
  </div>
</div>

<style>
  svg {
    stroke: var(--secondary-color);
  }
  img {
    width: 150px;
  }

  .line-placement {
    margin: auto;
    padding: 0 2%;
  }

  .timeline {
    position: relative;
    height: 1250px;

    margin-top: var(--spacing-large);
    margin-bottom: calc(var(--spacing-large) * 3);

    & div {
      position: absolute;
      transform: translate(-50%, -50%);
    }

    & :nth-child(2) {
      left: 30%;
      top: 5%;
    }

    & :nth-child(3) {
      left: 60%;
      top: 29%;
    }

    & :nth-child(4) {
      left: 80%;
      top: 53%;
      text-align: right;
    }

    & :nth-child(5) {
      left: 30%;
      top: 70%;
    }

    & :nth-child(6) {
      left: 50%;
      top: 100%;
      text-align: center;

      & img {
        width: 250px;
      }
    }
  }

  @media (min-width: 769px) {
    img {
      width: 200px;
    }

    .timeline {
      margin-top: calc(var(--spacing-large) * 3);
      margin-bottom: calc(var(--spacing-large) * 5);

      height: 1350px;

      & :nth-child(2) {
        left: 35%;
        top: -7%;
      }

      & :nth-child(3) {
        left: 65%;
        top: 18%;
      }

      & :nth-child(4) {
        left: 77%;
        top: 55%;
        text-align: right;
      }

      & :nth-child(5) {
        left: 25%;
        top: 75%;
      }

      & :nth-child(6) {
        top: 112%;

        & img {
          width: 300px;
        }
      }
    }
  }
</style>
